:root{
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
    --third-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --primery-backgraund-color: #FFFFFF;
    --secondary-backgraund-color: #2F303A;
    --third-backgraund-color: #F5F4FA;


}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}


ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

button{
    cursor: pointer;
}


.list {list-style: none;}
.link {text-decoration: none;}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    background-color: var(--primery-backgraund-color);
    
}

.dark-box {
    background-color: var(--secondary-backgraund-color);
}

.grey-box {
    background-color: var(--third-backgraund-color)
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}




/* =======HEADER=================== */

.page-header-container {
display: flex;
align-items: center;
justify-content: space-between;
}

 .page-nav{
     display: flex;
     align-items: center;
 }

.menu {
    display: flex;
    align-items: center;
}

.logo {
        margin-right: 93px; 
        font-family: 'Raleway';
        font-size: 26px;
        line-height: 1.19;        
        color: var(--accent-color);
}

.logo-black {
    color: black;
}
.logo-white{
    color: var(--third-text-color);
}



.menu-link {
        font-weight: 500;       
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primery-text-color);  
        margin-left: auto;           
}

.contact{
    color: var(--secondary-text-color);
}

.menu-link:hover, .menu-link:focus {
color: var(--accent-color);
}

.menu-item .current {
    color: var(--accent-color);
}

.menu-item:not(:last-child){ 
    margin-right: 50px;
}

.menu-link:not(:last-child) {
    margin-right: 50px;
}

/* ==========HERO================ */
.hero{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--third-text-color);
}

.hero-btn{
        /* font-weight: 700; */
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        background: var(--accent-color);
        color: var(--third-text-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;                
}

.hero-btn:active{
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;;
}



/* ========SPECIAL================ */
.special-title{       
        line-height: 1.14;       
        text-transform: uppercase;
}

.special-text{
        font-size: 14px;
        line-height: 1.71;       
        color: var(--secondary-text-color);
}
/* ==============LIST OFFER=========== */

/* ==============TEAM================ */

.section-title{
        font-size: 36px;
        line-height: 1.17;
        /* text-align: center; */
        
}

.team-man{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        /* text-align: center; */
        
}

.team-spec{
        font-size: 16px;
        line-height: 1.19;
        /* text-align: center; */
        
        color: var(--secondary-text-color);
}

/* =============FOOTER================= */


.adress-linkmap{
        font-style: normal;        
        line-height: 1.71;            
        color: var(--third-text-color);
}

.adress-link{
        font-style: normal;        
        line-height: 1.71;       
        color: rgba(255, 255, 255, 0.6);
    }

.adress-link:hover, .adress-link:focus{
    color: var(--accent-color);
}
    /* =============PORTFOLIO============= */

        .portfolio-btn {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.62;
                text-align: center;
                letter-spacing: 0.03em;
                cursor: pointer;
                background: var(--third-backgraund-color);
                border-radius: 4px;
        }

        .porfolio-filtr .current{
            background: var(--accent-color);
            color: var(--third-text-color);
                
                /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */
                /* border-radius: 4px; */
        }
    
        .portfolio-btn:hover,
        .portfolio-btn:focus {
            background: var(--accent-color);
            color: var(--third-text-color);
            
            /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */
            /* border-radius: 4px; */
        }

        .portfolio-name{
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            color: var(--primery-text-color);
        }

        .portfolio-namefiltr{
            font-size: 16px;
            line-height: 1.88;
            
            color: var(--secondary-text-color);
        }

        .portfolio-link{
            background-color: var(--third-backgraund-color);
        }                